@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: DMSans;
    background-color: #F4F7FE;
}

p {
    margin: 0;
}

.my_container {
    min-height: 100%;
}

/*----------scrollbar----------*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/*----------menu & content grid----------*/

.menu {
    width: 320px;
    float: left;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* left: 0 !important; */

}

.menu-top {
    background-color: #fff;
    width: 100%;
    padding: 15px;
}

.content {
    background-color: #F4F7FE;
    margin-left: 322px;
    overflow-wrap: break-word;
    padding: 20px 15px;
}

/*----------menu topbar----------*/

.topbar {
    border-bottom: #F4F7FE 1px solid;
}

.img-topbar {
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 26px;
}

.img-topbar img {
    width: 156px;
    height: 48px;
}

/*----------menu navbar----------*/

.navbar {
    padding: 26px 40px 40px 40px;
}

.nav-inactive {
    color: #A3AED0;
    padding: 12px 11px;
    display: block;
    border-radius: 5px;
    transition: 0.2s;
    margin-bottom: 15px;
    font-weight: 500;
}

.nav-inactive:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    color: #A3AED0;
}

.active {
    background-color: #4318FF;
    color: #fff;
    padding: 12px 11px;
    display: block;
    border-radius: 5px;
    transition: 0.2s;
    margin-bottom: 15px;
    font-weight: 500;
}

.active:hover {
    background-color: #2d11a8;
    text-decoration: none;
    color: #fff;
}

.bottombar {
    padding: 10px 20px 20px;
}

.nav-logout {
    color: #A3AED0;
    padding: 12px 11px;
    display: block;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: 500;
}

.nav-logout:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    color: #A3AED0;
}

.active span,
.nav-inactive span,
.nav-logout span {
    font-size: 17px;
    font-family: DMSans;
    margin-left: 14px;
    vertical-align: middle;
}

.btn-close-menu {
    position: absolute;
    right: 10px;
    top: 10px;
}

/*----------menu & content responsive----------*/

@media (max-width:1200px) {
    .menu {
        width: 310px;
        z-index: 999;
        transition: 0.4s;
    }

    .content {
        margin-left: 0;
    }
}

@media (min-width:1201px) {

    .menu-top,
    .btn-close-menu {
        display: none;
    }

    .menu {
        left: 0 !important;
    }
}

/*----------content----------*/

.infobox,
.cardbox {
    background-color: #fff;
    border-radius: 20px;
}

.infobox {
    padding-bottom: 20px;
    height: 100px;
    padding: 22px;
    transition: 0.3s;
    cursor: pointer;
}

.infobox:hover {
    box-shadow: 3px 3px 8px 0px #dee7fd;
}

.cardbox {
    padding: 30px;
}

.infobox img {
    background-color: #F4F7FE;
    border-radius: 50%;
    padding: 12px;
    float: left;
    margin-right: 18px;
}

.welcomebox span {
    font-weight: bold;
    font-size: 15px;
    color: #707EAE;
}

.welcomebox p {
    font-weight: bold;
    font-size: 36px;
    color: #2B3674;
}

.formgroup {
    position: relative;
    float: right;
}

.formgroup input {
    width: 400px;
    border: none;
    padding: 15px 44px;
    border-radius: 10px;
    outline: none;
}

.formgroup label {
    position: absolute;
    top: 14px;
    left: 20px;
    cursor: text;
}

.top-row {
    margin-top: 35px;
    margin-bottom: 30px;
}

.searchbox {
    margin-top: 20px;
}

.infobox p {
    color: #A3AED0;
}

.infobox span {
    font-size: 26px;
    font-weight: bold;
    color: #1B2559;
    ;
}

.purple-img img {
    background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
}

.purple-backgraound {
    background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
    transition: 0.3s;
}

.purple-backgraound:hover {
    box-shadow: 3px 3px 8px 0px #aeb2feb3;
}

.purple-backgraound p,
.purple-backgraound span {
    color: #fff;
}

.info-row {
    margin-bottom: 20px;
}

[class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}


.left-cardbox {
    padding-top: 20px;
}

.left-cardbox span {
    font-weight: bold;
    font-size: 34px;
    color: #1B2559;
}

.left-cardbox p {
    font-weight: 500;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 20px;
    color: #A3AED0;
    line-height: 30px;
}

.left-cardbox a {
    background-color: #4318FF;
    color: #fff;
    border-radius: 70px;
    padding: 16px 50px;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.left-cardbox a:hover {
    background-color: #2d11a8;

}


.left-cardbox-img {
    float: right;
}

.right-cardbox-img img {
    margin-bottom: 15px;
}

.right-cardbox-text span {
    font-size: 28px;
    color: #1B2559;
    font-weight: bold;
}

.right-cardbox-text p {
    font-size: 14px;
    color: #A3AED0;
    margin-top: 8px;
}


.right-cardbox-btn a {
    color: #fff;
    text-decoration: none;
    background-color: #4318FF;
    border-radius: 70px;
    padding: 16px 0;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 31px;
    transition: 0.2s;
}

.right-cardbox-btn a:hover {
    background-color: #2d11a8;
}


.card-row {
    margin-bottom: 20px;
}

.otherinfo-row {
    margin-bottom: 20px;
}

.otherinfo-box {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.title {
    margin-bottom: 20px;
}

.title p {
    font-weight: bold;
    font-size: 20px;
    color: #1B2559;
}

.img-items {
    padding: 12px;
    background: #F6F8FD;
    float: left;
    border-radius: 50%;
    margin-right: 16px;
}

.text-items p {
    font-weight: bold;
    font-size: 16px;
    color: #1B2559;
}

.text-items span {
    font-weight: 500;
    font-size: 12px;
    color: #A3AED0;
}

.items div {
    margin-bottom: 16px;
}

.links {
    text-align: right;
}

.links a {
    color: #4318FF;
    font-weight: bold;
    text-decoration: none;
}

.title-center-box {
    margin-bottom: 30px;
}

.title-center-box p {
    font-weight: bold;
    font-size: 36px;
    color: #1B2559;
}

.items-center div {
    margin-bottom: 27px;
}

.text-center {
    border-left: 5px solid #4318FF;
    padding-left: 10px;
    text-align: left;
}

.text-center p {
    font-weight: bold;
    font-size: 16px;
    color: #1B2559;
}

.text-center span {
    font-weight: 500;
    font-size: 12px;
    color: #A3AED0;
}

.img-profile {
    text-align: center;
    margin: 14px 0;
}

.img-profile img {
    background-color: #f4f7fe;
    border-radius: 50%;
}

.name-profile {
    text-align: center;
}

.name-profile p {
    font-weight: bold;
    font-size: 24px;
    color: #1b2559;
}

.name-profile span {
    font-weight: 500;
    font-size: 14px;
    color: #a3aed0;
}

.info-profile {
    text-align: center;
    padding: 11px;
    padding-top: 40px;
}

.info-profile p {
    font-weight: normal;
    font-size: 12px;
    color: #A3AED0;
}

.info-profile span {
    font-weight: bold;
    font-size: 24px;
    color: #1B2559;
}